main {
}

.no-margin-on-first-line-only-paragraph {
  padding-left: 1em;
  text-indent: -1em;
  display: inline-block;
}

.record-active {
  background-color: #FFFF77;
}
.record-inactive {
}

#cards-canvas {
  width: 1;
  height: 1;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
